<html>
<body>
 
    <h1>Feedback Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    <p>
        if the form is valid the message will be here: {{ my_message }}
    </p>
    {% if True %}
    the if block is evaluated to be True
    {% else %}
    the if block is evaluated to be False
    {% endif %}
    <br>
    {% if service_selected %}
    Thank you for evaluating our service.
    {% else %}
    Service was not evaluated. 
    {% endif %}

    <p>
        <a href={% url 'thanks' %}>Thanks Page</a>
    </p>
</body>
</html>




