<html>
<body>
    {{ hi }}
<br>
    original name was {{orig_name}} the title name is {{ name }}
<ul>
    {% for name in names %}
        <li>{{ name }}</li>
    {% endfor %}
</ul>

The second name is {{ names.1 }}
<br>
title case names
<ul>
    {% for name in fixed_names %}
    <li>{{ name }}</li>
    {% endfor %}  
</ul>

<p>
    car1 color: {{car1.color}} makes sound: {{ car1.honk }} and has wheels: {{ car1.wheels}}
    <br>
    car2 color: {{car2.color}} makes sound: {{ car2.honk }} and has wheels: {{ car2.wheels}}
    <br>
    motorcycle1 make: {{motorcycle1.make}} year: {{ motorcycle1.year }} and has wheels: {{ motorcycle1.wheels}}
</p>


</body>
</html>
